.cart-table {
  .cartImg-wrapper {
    width: 200px;
    height: 200px;
    img {
      object-fit: cover;
    }
  }
  .td-cart-img {
    width: 200px;
  }
  .td-cart-qty,
  .td-cart-price {
    width: 150px
  }
  .cart-price-btn-wrapper {
    height: 200px;
  }
  .form-control[type="number"]::-webkit-inner-spin-button,
  .form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  };
}

.card-cart,
.cart-empty-text {
  height: 100vh;
}