@font-face {
  font-family: 'Euclid Flex';
  src: url('~@/assets/fonts/EuclidFlex-Light.ttf') format('font-truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Flex';
  src: url('~@/assets/fonts/EuclidFlex-Regular.ttf') format('font-truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Flex';
  src: url('~@/assets/fonts/EuclidFlex-Medium.ttf') format('font-truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Euclid Flex', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Euclid Flex', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.h1 {

}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {

}

.h5 {
  font-size: 1.125rem;
}

.font-regular {
  font-weight: 400;
}

.pagination,
.num {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.footer-wrapper {
  font-family: 'Euclid Flex', Helvetica, Arial, sans-serif;
  font-weight: 400;
}