#app {
  color: #888792;
}

// Menu Nav
nav {
  transition: all 0.2s;
  &.menu-sidebar {
    width: 35vw;
    font-size: 1.5rem;
    transition: all .4s;
    &.expand {
      width: 45vw;
    }
  }
  .menu-sidebar-wrapper {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.50);
  }
}

// Home Nav
.nav-sidebar {
  padding-top: 4rem;
  right: 55px;
  z-index: 99;
}

// About Nav
.about-sidebar,
.service-sidebar,
.price-sidebar,
.cart-sidebar {
  width: 35vw;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.50);
}

.nav-sidebar-toggler {
  font-size: 1.5rem;
  border-radius: .25rem;
  .nav-sidebar-toggler-icon {
    transform: rotate(0deg);
    transition: all .4s;
    &.rotate {
      transform: rotate(45deg);
    }
  }
}


// Pagination
.page-link {
  &.page-link-frontend {
    background-color: transparent;
    border: none;
  }
  &.page-link-backend {
    background-color: $secondary;
    border: none;
    &.num {
      background-color: transparent;
    }
  }
}

.page-item {
  &.active {
    .page-link {
      &.page-link-frontend {
        background-color: transparent;
        background-color: transparent;
        font-weight: 500;
      }
    }
  }
  &.disabled {
    .page-link {
      &.page-link-frontend {
        background-color: transparent;
        border: none;
      }
      &.page-link-backend {
        background-color: $dark;
        border: none;
      }
    }
  }
}

// Footer
.footer {
  z-index: 1;
}

// product label
.product-label {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  .iron-label {
    width: 25px;
  }
  .dry-clean-label {
    width: 22px
  }
}

a {
  &.cart-icon {
    width: 45px;
  }
  img {
    width: 25px;
  }
  .cart-counter {
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin-top: -5px;
    margin-left: -10px;
    color: $white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $black;
  }
}
