.product-hero-wrapper {
  position: relative;
  .product-hero-img {
    object-fit: cover;
    position: absolute;
  }
}

// product detail page - other images session
.detail-img-wrapper {
  height: 50vw;
  img {
    object-fit: cover;
  }
}